@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-background font-body-md;
  }
}

.material-symbols-outlined {
  display: inline-block;
  vertical-align: middle;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hero-gradient {
  background: linear-gradient(to right, rgba(21, 66, 18, 0.9), rgba(21, 66, 18, 0.4));
}
